a:hover, a:focus {
  background-color: transparent; }

.sidebar {
  display: none;
  width: 293px;
  background: #ededed;
  padding: 28px 0px 0px 35px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100; }
  .sidebar h4 {
    text-transform: uppercase;
    margin-bottom: 17px; }
  .sidebar .checkbox-container {
    margin-bottom: 38px; }
    .sidebar .checkbox-container .checkbox {
      margin-top: 0px; }
      .sidebar .checkbox-container .checkbox label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font: 13px "Roboto-regular", sans-serif;
        color: #4e545a;
        padding-top: 3px; }
        .sidebar .checkbox-container .checkbox label:before {
          content: " ";
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          position: absolute;
          left: 0;
          bottom: 1px;
          background-color: #fff; }
      .sidebar .checkbox-container .checkbox input[type="checkbox"] {
        display: none; }
      .sidebar .checkbox-container .checkbox input[type=checkbox]:checked + label:before {
        content: "";
        background: url("../img/glaca.png") no-repeat;
        width: 19px;
        height: 19px;
        text-align: center;
        line-height: 15px; }
  .sidebar input[type="text"] {
    width: 165px;
    height: 27px;
    display: block;
    background: #fff;
    font: 13px "Roboto-regular", sans-serif;
    color: #aeb0b2;
    margin-bottom: 8px;
    padding-left: 5px;
    border: none; }
  .sidebar .button-container {
    margin-top: 43px;
    margin-bottom: 43px; }
    .sidebar .button-container button {
      padding: 11px 21px;
      background: #74b65f;
      color: #fff;
      font: 15px "Roboto-regular", sans-serif; }

.show-sidebar {
  display: block; }

.title-block {
  padding: 18px 23px;
  overflow: hidden;
  border-bottom: 1px solid #cecece; }
  .title-block h2 {
    float: left;
    padding-left: 6px; }
  .title-block .bread-crumb {
    float: right;
    padding-top: 10px; }
    .title-block .bread-crumb ul {
      overflow: hidden; }
      .title-block .bread-crumb ul li {
        float: left;
        padding: 0 12px;
        position: relative; }
        .title-block .bread-crumb ul li:not(:last-child):before {
          content: " ";
          display: block;
          width: 9px;
          height: 1px;
          background: #1383c2;
          position: absolute;
          right: -4.5px;
          top: 9px; }
        .title-block .bread-crumb ul li a {
          font: 13px "Roboto-regular", sans-serif;
          color: #1383c2;
          text-decoration: underline; }
        .title-block .bread-crumb ul li a.active {
          color: #4e545a;
          text-decoration: none;
          cursor: default; }

.item .item-content {
  padding: 17px 30px; }
  .item .item-content .list {
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cecece; }
    .item .item-content .list li {
      font: 13px "Roboto-regular", sans-serif;
      color: #212121;
      margin-bottom: 10px; }
      .item .item-content .list li div {
        display: inline; }
      .item .item-content .list li span {
        margin: 0 10px;
        width: 195px;
        height: 1px;
        display: inline-block;
        border-bottom: 1px dotted #3c3c3c; }
    .item .item-content .list li:nth-child(2) span {
      margin-left: 22px; }
    .item .item-content .list li:nth-child(3) span {
      width: 148px; }
    .item .item-content .list li:nth-child(4) span {
      width: 203px; }
  .item .item-content .price-block {
    padding-top: 28px;
    margin-bottom: 40px; }
    .item .item-content .price-block h3 {
      display: inline; }
      .item .item-content .price-block h3 span {
        font: 15px "Roboto-regular", sans-serif;
        color: #858383;
        padding-left: 5px; }
    .item .item-content .price-block p {
      font: 13px "Roboto-regular", sans-serif;
      color: #4e545a;
      padding-top: 10px; }
      .item .item-content .price-block p span {
        display: block; }
    .item .item-content .price-block .col-block {
      display: inline-block;
      position: relative;
      padding-top: 12px; }
      .item .item-content .price-block .col-block .col {
        width: 30px;
        display: inline-block;
        height: 31px;
        border: 2px solid #e8e8e8;
        padding-left: 9px; }
      .item .item-content .price-block .col-block button {
        height: 31px;
        width: 35px;
        background: #e8e8e8;
        color: #50565c;
        font-weight: bold; }
        .item .item-content .price-block .col-block button:hover {
          background: #ffd409; }
      .item .item-content .price-block .col-block button.left-button {
        border-radius: 4px 0px 0px 4px;
        margin-right: -4px; }
      .item .item-content .price-block .col-block button.right-button {
        border-radius: 0px 4px 4px 0px;
        margin-left: -4px; }
  .item .item-content .add-to-basket {
    padding: 26px 21px 26px 84px;
    background: #ffd409;
    font: 15px "Roboto-regular", sans-serif;
    color: #212121;
    position: relative; }
    .item .item-content .add-to-basket:before {
      content: " ";
      display: block;
      width: 52px;
      height: 28px;
      background: url("../img/luggage-black.png");
      position: absolute;
      top: 21px;
      left: 15px; }
    .item .item-content .add-to-basket:hover {
      background: #f17e00; }
.item .item-navigation {
  width: 100%;
  border-bottom: 1px solid #cecece; }
  .item .item-navigation ul li {
    float: left;
    position: relative; }
    .item .item-navigation ul li a {
      display: block;
      padding: 17px 43px;
      font: 14px "Roboto-medium", sans-serif;
      color: #4e545a; }
      .item .item-navigation ul li a:hover {
        color: #f17e00; }
    .item .item-navigation ul li:not(:last-child):before {
      content: " ";
      display: block;
      width: 2px;
      height: 13px;
      background: #d1d1d1;
      position: absolute;
      right: 0px;
      top: 19px; }

#slider {
  width: 100%; }

.slider-image {
  height: 274px;
  display: block;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .slider-image:before {
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    background: url("../img/search-2.png") no-repeat;
    position: absolute;
    right: 10px;
    bottom: 10px; }

.slider-wrapper {
  width: 100px;
  margin-left: 20px;
  float: left;
  text-align: center; }

.slider {
  height: 262px;
  overflow: hidden; }

.slider-item {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  margin-top: 0px;
  cursor: pointer; }

.slider-content {
  position: relative;
  top: 0px;
  transition: all 1s ease-in; }

.slider-up-arrow, .slider-down-arrow {
  display: inline-block;
  height: 15px;
  width: 26px;
  cursor: pointer; }

.slider-up-arrow {
  background: url("../img/slaider-top.png") no-repeat; }

.slider-down-arrow {
  background: url("../img/slaider-bottom.png") no-repeat; }

.show-all {
  padding-top: 18px;
  padding-bottom: 20px;
  text-align: center; }
  .show-all a {
    font: bold 13px "Roboto-bold", sans-serif;
    color: #212121;
    letter-spacing: 2px;
    text-transform: uppercase;
    letter-spacing: 2px; }

.catalog-goods .catalog-list li {
  width: 20%;
  min-height: 342px;
  border: 1px solid #cecece;
  position: relative;
  padding: 0 35px;
  padding-top: 39px;
  float: left;
  text-align: center; }
  .catalog-goods .catalog-list li .hover-block {
    display: block;
    padding: 197px 30px 0;
    text-align: center;
    color: #212121;
    display: none; }
    .catalog-goods .catalog-list li .hover-block a {
      font: 13px "Roboto-regular", sans-serif;
      position: relative;
      color: #212121;
      display: block; }
      .catalog-goods .catalog-list li .hover-block a:before {
        content: " ";
        display: block;
        width: 52px;
        height: 28px;
        background: url("../img/luggage-black.png") no-repeat;
        position: absolute;
        left: 50%;
        margin-left: -26px;
        top: -40px; }
  .catalog-goods .catalog-list li:hover div.hover-block {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: #ffb900;
    left: 0;
    top: 0;
    right: 0; }
  .catalog-goods .catalog-list li .good-info {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 13px; }
    .catalog-goods .catalog-list li .good-info .good-title {
      font: 13px "Roboto-regular", sans-serif;
      color: #212121;
      text-align: center;
      position: relative;
      padding: 0 35px;
      margin-bottom: 10px; }
      .catalog-goods .catalog-list li .good-info .good-title:before {
        content: " ";
        display: block;
        height: 2px;
        width: 162px;
        background: #cecece;
        position: absolute;
        bottom: -19px; }
    .catalog-goods .catalog-list li .good-info .price-content {
      padding: 25px 35px 5px;
      position: relative; }
      .catalog-goods .catalog-list li .good-info .price-content span.aktia {
        color: #ff3501;
        text-transform: uppercase;
        font: 11px "Roboto-medium", sans-serif;
        position: absolute;
        display: inline-block;
        top: 13px;
        left: 58px;
        display: none; }
      .catalog-goods .catalog-list li .good-info .price-content h3.price {
        color: #212121;
        text-align: left;
        position: relative;
        display: block; }
        .catalog-goods .catalog-list li .good-info .price-content h3.price span {
          font: 15px "Roboto-regular", sans-serif;
          color: #858383;
          padding-left: 5px; }
    .catalog-goods .catalog-list li .good-info .deals {
      background: #ffd409;
      margin: 0px 8px; }
      .catalog-goods .catalog-list li .good-info .deals span.aktia {
        display: block; }
      .catalog-goods .catalog-list li .good-info .deals h3.price {
        color: #ff0000; }
        .catalog-goods .catalog-list li .good-info .deals h3.price span {
          color: #ff0000; }
    .catalog-goods .catalog-list li .good-info div.news {
      background: #4e545a;
      margin: 0px 8px; }
      .catalog-goods .catalog-list li .good-info div.news span.aktia {
        display: block;
        color: #ffd409;
        left: 76px; }
      .catalog-goods .catalog-list li .good-info div.news h3.price {
        color: #ffd409; }
        .catalog-goods .catalog-list li .good-info div.news h3.price span {
          color: #ffd409; }

.catalog-menu {
  padding: 42px 38px;
  background: #4e545a; }
  .catalog-menu .block {
    width: 20%;
    float: left; }
    .catalog-menu .block ul {
      list-style-type: disc; }
      .catalog-menu .block ul li {
        color: #1383c2;
        margin-bottom: 24px; }
        .catalog-menu .block ul li:last-child {
          margin-bottom: 0px; }
        .catalog-menu .block ul li a {
          font: 13px "Roboto-regular", sans-serif;
          color: #fff; }
          .catalog-menu .block ul li a:hover {
            color: #f17e00; }

@media(max-width: 1200px) {
  .catalog-goods .catalog-list li .good-info .price-content h3.price {
    font-size: 35px; } }
@media(max-width: 992px) {
  .catalog-goods .catalog-list {
    text-align: center;
    vertical-align: top; }
    .catalog-goods .catalog-list li {
      width: 24.6%;
      border: 1px solid #cecece !important;
      float: none;
      display: inline-block;
      margin-bottom: 5px; }
      .catalog-goods .catalog-list li .good-info .good-title:before {
        display: none; }
      .catalog-goods .catalog-list li .good-info .price-content {
        padding: 25px 35px 5px !important;
        float: none; }
        .catalog-goods .catalog-list li .good-info .price-content h3.price {
          font-size: 27px; }

  .catalog-menu {
    text-align: center; }
    .catalog-menu .block {
      width: 25%;
      float: none;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 30px; }
      .catalog-menu .block ul {
        list-style-type: none; }
        .catalog-menu .block ul li {
          text-align: left; }

  .item .item-content .price-block h3 {
    font-size: 31px;
    padding-top: 1px; }
  .item .item-content .price-block .col-block {
    padding-top: 5px; }
  .item .item-content .price-block p {
    padding-top: 5px; }
  .item .item-content .list li:first-child span {
    width: 100px; } }
@media(max-width: 768px) {
  .catalog-goods .catalog-list {
    text-align: center; }
    .catalog-goods .catalog-list li {
      width: 32%; }

  .catalog-menu .block {
    margin-bottom: 38px;
    width: 100%; }
    .catalog-menu .block ul li {
      text-align: center; }

  .item .item-content {
    text-align: center; }
    .item .item-content .list {
      display: inline-block; }
      .item .item-content .list li {
        text-align: left; }
        .item .item-content .list li:first-child span {
          width: 195px; }
    .item .item-content .price-block h3, .item .item-content .col-block {
      margin-bottom: 15px;
      display: block;
      text-align: center; }
    .item .item-content .add-to-basket {
      margin-bottom: 20px; }

  .item .item-navigation ul {
    text-align: center; }
    .item .item-navigation ul li {
      display: inline-block;
      float: none; }
      .item .item-navigation ul li:not(:last-child):before {
        display: none; } }
@media(max-width: 600px) {
  .catalog-goods .catalog-list {
    text-align: center; }
    .catalog-goods .catalog-list li {
      width: 49.5%; } }
@media(max-width: 500px) {
  .item .item-content .list li:first-child span {
    width: 18px; }
  .item .item-content .list li:nth-child(2) span {
    margin-left: 22px;
    width: 142px; }
  .item .item-content .list li:nth-child(3) span {
    width: 75px; }
  .item .item-content .list li:nth-child(4) span {
    width: 127px; } }
@media(max-width: 400px) {
  .catalog-goods .catalog-list {
    text-align: center; }
    .catalog-goods .catalog-list li {
      width: 70%; } }

/*# sourceMappingURL=item.css.map */
